@import './reset.scss';

.container {
    width: 95%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    border-top: 4px solid $darkGreen;

}
.h2 {
    margin: 30px 0;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px darken($background, 20%);
}