@import './reset.scss';

.container {
    background: $lightBlue;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include desktop() {
        flex-direction: row;
    }

}
.links{
    width: 100%;
    border-bottom: 4px solid $background;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desktop() {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        border-right: 4px solid $background;
        border-bottom: none;
        
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 100%;
        @include desktop() {
            width: 50%;
            align-items: flex-start;
        }
        // width: 50%;
        justify-content: space-between;
    }
    a {
        text-decoration: none;
        color: $white;
    }
    li {
        font-size: 1.8rem;
        padding: 5px 5px;
        @include desktop() {
            font-size: 3rem;
            padding: 10px 10px;
        }
    }
}
.other {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    @include desktop() {
        width: 50%;
    }
    p {
        font-size: 1.3rem;
        color: $white;
        padding: 10px 0;
    }
    a {
        color: $white;
    }
}