@import './reset.scss';
.div {
    border-top: 2px solid $darkGreen;
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include desktop() {
        border-top: 4px solid $darkGreen;
        margin-top: 20px;
    }
    h2 {
        width: 100%;
        font-size: 2rem;
        text-shadow: 2px 2px 2px darken($background, 15%);
        margin: 20px 0;
        @include desktop() {
            font-size: 3rem;
        }
    }
    h3 {
        // color: darken($darkGreen, 20%);
        text-shadow: 2px 2px 2px darken($background, 15%);
        font-size: 1.5rem;
        margin: 10px 0;
        width: 60%;
        @include desktop() {
            font-size: 3rem;
        }
    }
    p {
        width: 100%;
        padding: 5px;
        margin: 10px 0;
        font-size: 1.3rem;
        border-left: 5px solid $lightBlue;
        @include desktop() {
            font-size: 2rem;
            padding: 20px;
            border-left: 10px solid $lightBlue;
            margin: 20px 0;
        }
    }
}