@import './reset.scss';

.logo {
    @include desktop() {
        width: 90px;
        height: 90px;
    }
    @include tiny() {
        width: 50px;
        height: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }
    align-self: center;
    background: $black;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $white;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 7rem;
    h1 {
        color: $white;
    }
}
.h1 {
    font-size: 4rem;
    @include tiny() {
        font-size: 3rem;
    }
}