/* Coolors Exported Palette - coolors.co/05668d-427aa1-ebf2fa-679436-a5be00 */

/* HSL */
$color1: hsla(197%, 93%, 29%, 1);
$color2: hsla(205%, 42%, 45%, 1);
$color3: hsla(212%, 60%, 95%, 1);
$color4: hsla(89%, 47%, 40%, 1);
$color5: hsla(68%, 100%, 37%, 1);

/* RGB */
$font: rgba(5, 102, 141, 1);
$lightBlue: rgba(66, 122, 161, 1);
$background: rgba(235, 242, 250, 1);
$darkGreen: rgba(103, 148, 54, 1);
$lightGreen: rgba(165, 190, 0, 1);