@import './reset.scss';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    // border-bottom: 2px solid $lightBlue;
    margin-bottom: 20px;
    padding-bottom: 20px;
    h2 {
        font-size: 2.2rem;
        width: 100%;
        text-align: center;
        text-shadow: 2px 2px 2px darken($background, 20%);
        margin-bottom: 20px;
    }
    @include desktop() {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
    }
}
.block {
    border-left: 5px solid $lightBlue;
    border-right: 2px solid $lightGreen;
    border-top: 2px solid $lightGreen;
    border-bottom: 2px solid $lightGreen;
    border-radius: 10px;
    background: $white;
    padding: 0 0 0 20px;
    margin: 20px 20px;

    h4 {
        font-size: 1.5rem;
        margin: 20px 0;
    }
    p {
        font-size: 1.2rem;
        span {
            font-size: 1.4rem;
        //     border-bottom: 1px solid $font;
        //     margin-bottom: 5px;
        }
    }
    ul {
            margin: 10px 0 10px 15px;
            font-size: 1.2rem;
            li {
                padding:5px;
            }
        }
    &:hover {
        border-left: 5px solid $lightGreen;
        box-shadow: 5px 5px 5px darken($background, 20%);
    }
    @include desktop() {
        width: 40%;
        margin: 30px 0 30px 0;

    }
}
.inner {
    @include desktop() {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}