@import './reset.scss';

.container {
    width: 95%;
    // height: 300px;
    border-radius: 5px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    // box-shadow: 5px 5px 5px darken($background, 5%);

}